# .env.sample - Sample Environment Variables for Client (Vite)

# Server API URL (call it in React with import.meta.env.VITE_API_URL)
VITE_API_URL=http://localhost:3310

# Other Environment Variables (if needed)
# VITE_OTHER_VARIABLE=value

VITE_API_SWIPER=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNGFhOWQ2MmM4ZjQyZTY4ODI1MzAyZTNhNTc4ZjZmNCIsIm5iZiI6MTc0NTI0ODQ0NC40ODE5OTk5LCJzdWIiOiI2ODA2NjBiYzNmODg4NTRjNDllZTY4NjciLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.CK_Ym5rHM4kuUSLLxFvIIU9PItGULGJQC0vHWSY24Uw