.header-button {
  display: flex;
  margin: 0 auto;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 25%;
  left: 25%;
  background-image: linear-gradient(to right, #C00F0C 0%, #ad1913 51%, #c00f0c 100%);
  background-size: 200% auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-button:hover {
  background-position: right center;
  transform: translateY(-0.25em);
  box-shadow: 0 10px 9px -3px rgba(96, 0, 0, 0.38);
}

.header-button:active {
  transform: translateY(0);
  box-shadow: unset;
  background-color: #800b08;
}

@media (min-width: 768px) {
  .header-button {
    padding: 10px 20px;
    font-size: 25px;
    top: 49%;
    left: 45%;
  }
}