/* Bloc de la page réservation */
.movieBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  /* Breakpoint  */
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Image de fond */
.backGroundBloc {
  @media (min-width: 1024px) {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
  }
}

/* Bloc des contenus des films */
.moviesContent {
  @media (min-width: 375px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Breakpoint  */
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: transparent;
  }
}

/*Image du film */
.movieImage {
  width: fit-content;
  object-fit: cover;
  display: block;
  margin-bottom: 1em;

  /* Breakpoint  */
  @media (min-width: 768px) {
    height: auto;
    object-fit: cover;
  }
}

/*fond jaune h3 */
.h3Movies {
  background-color: #ffc219;

  /* Breakpoint  */
  @media (min-width: 768px) {
    padding: 4px 8px;
    display: inline-block;
    width: 25%;
    color: black;
    font-size: medium;
  }
}

/* Bloc synopsis et des horaires */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
  background: none;

  /* Breakpoint  */
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* synopsis */
.overviewReservation {
  color: white;
  text-align: justify;
  font-size: 14px;
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
  background: none;

  @media (min-width: 768px) {
    width: 60%;
  }
}

/* Bloc boutons des heures des séances */
.hoursReservation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1em;
  background: none;

  /* Breakpoint  */
  @media (min-width: 768px) and (max-width: 1080px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 27%;
  }

  @media (min-width: 1024px) and (max-width: 1280px) {
    width: 20%;
  }

  @media (min-width: 1280px) and (max-width: 2000px) {
    width: 16%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* boutons des heures des séances */
.hoursButton,
.hoursButtonMedia {
  background-color: white;
  border: solid white;
  text-shadow: none;
  text-align: center;
  border-radius: 7px;
  padding: 10px 12px;
  margin: 10px 4px;
  color: black;
}

/* boutons des heures des séances à partir du format tablette */
.hoursButtonMedia {
  display: none;

  @media (min-width: 768px) {
    display: unset;
  }
}

/* Survol des boutons horaires */
.hoursButton:hover {
  background-color: #ffc219;
  border: #ffc219;
}

.caddiesReservation {
  background: none;
}

/* bouton ajouter au panier */
.caddiesButton {
  background-color: red;
  border-radius: 15px;
  padding: 7px 45px;
  margin: 10px 4px 20px;

  @media (min-width: 768px) {
    padding: 10px 80px;
  }
}

/* titre "Date de sorties */
.dateRelease {
  @media (min-width: 1024px) {
    background-color: transparent;
  }
}
